#header-container
  a(href='#', id='toggleButton')
    span.bar-icon
    span.bar-icon
    span.bar-icon

  h1#logo
    a(href='/')
      img(src=config['logo']).logo
      span.logo-link=  t('common.app-name')

  .user-nav.btn-group
    .user
    a(href='/signin').login.pull-right.anonymous-citizen
      i.icon-signin
      span= t('header.signin')
    a(href='/signup').login.pull-right.anonymous-citizen
      i.icon-user
      span= t('header.signup')
    //- a.login.pull-left(href=config['organization url'], target='_blank')
    //-  span= config['organization name']
    
    a.login.pull-left(href='http://redesustentabilidade.org.br/', target='_blank')
      img(src='/lib/boot/images/rede.png', width='35', height='40', style='margin-top: -10px')
      span(style='padding-left: 10px;vertical-align: top;')='Rede'

    a.login.pull-left(href='http://konsento.org', target='_blank')
      img(src='/lib/boot/images/konsento.png', width='35', height='40', style='margin-top: -10px')
      span(style='padding-left: 10px;vertical-align: top;')='Konsento'

    a.login.pull-left(href='democracyos.org', target='_blank')
      img(src='/lib/boot/images/logo.png', width='35', height='40', style='margin-top: -10px')
      span(style='padding-left: 10px;vertical-align: top;')='DemocracyOS'  
    //- a.login.pull-left(href='#', id='feedback')
    //-   span= t('header.feedback')
